page-cart {
    .total-price{
        float: right;
        font-weight: bold;
    }
    .price-container{
        float:right; 
    }
    .remove-product-cart{
        float:right; 
        margin-right: 100px;
    }

    ion-label.label.label-md{
        position: relative
    }
    .offer-price{
        text-decoration: line-through;
        margin-right: 10px;
    }
    .text-container{
        float: left;
    }
}
